USE [master]
GO
/****** Object:  Database [ReNile]    Script Date: 4/13/2019 10:53:38 AM ******/
CREATE DATABASE [ReNile]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReNile', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ReNile.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ReNile_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ReNile_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReNile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReNile]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doctor](
	[DOCTORID] [varchar](9) NOT NULL,
	[DFNAME] [varchar](50) NULL,
	[DLNAME] [varchar](50) NULL,
	[DADDRESS] [varchar](50) NULL,
	[DPHONE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCTORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EMID] [varchar](9) NOT NULL,
	[EFNAME] [varchar](50) NULL,
	[ELNAME] [varchar](50) NULL,
	[ESALARY] [int] NULL,
	[DROLE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FarmOwner]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FarmOwner](
	[CODE] [varchar](10) NOT NULL,
	[FINANCIAL_ACCOUNT] [varchar](50) NULL,
	[PNAME] [varchar](50) NULL,
	[LNAME] [varchar](50) NULL,
	[PREMIUM_ACCOUNT] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FishFarm]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FishFarm](
	[ID] [varchar](9) NOT NULL,
	[SIZE] [int] NULL,
	[CITY] [varchar](50) NULL,
	[FarmState] [varchar](50) NULL,
	[AUTOMATED] [varchar](1) NULL,
	[PH] [int] NULL,
	[DO] [int] NULL,
	[CODE] [varchar](10) NULL,
	[DOCTORID] [varchar](9) NULL,
	[EMPLOYEEID] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FishType]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FishType](
	[FTYPE] [varchar](50) NOT NULL,
	[ID] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FTYPE] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImplementedIn]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImplementedIn](
	[MANUFACTURER] [varchar](50) NULL,
	[PTYPE] [varchar](50) NULL,
	[ID] [varchar](9) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImportedFrom]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImportedFrom](
	[DEALDATE] [varchar](50) NULL,
	[I_NAME] [varchar](50) NULL,
	[MANUFACTURER] [varchar](50) NULL,
	[PTYPE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Importers]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Importers](
	[I_FINANCIAL_ACCOUNT] [varchar](50) NULL,
	[I_NAME] [varchar](50) NOT NULL,
	[MANUFACTURER] [varchar](50) NULL,
	[PTYPE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[I_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/13/2019 10:53:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[MANUFACTURER] [varchar](50) NOT NULL,
	[PTYPE] [varchar](50) NOT NULL,
	[QUNATITY] [int] NULL,
	[PRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANUFACTURER] ASC,
	[PTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FishFarm]  WITH CHECK ADD FOREIGN KEY([CODE])
REFERENCES [dbo].[FarmOwner] ([CODE])
GO
ALTER TABLE [dbo].[FishType]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[FishFarm] ([ID])
GO
ALTER TABLE [dbo].[ImplementedIn]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[FishFarm] ([ID])
GO
ALTER TABLE [dbo].[ImplementedIn]  WITH CHECK ADD FOREIGN KEY([MANUFACTURER], [PTYPE])
REFERENCES [dbo].[Products] ([MANUFACTURER], [PTYPE])
GO
ALTER TABLE [dbo].[ImportedFrom]  WITH CHECK ADD FOREIGN KEY([I_NAME])
REFERENCES [dbo].[Importers] ([I_NAME])
GO
ALTER TABLE [dbo].[ImportedFrom]  WITH CHECK ADD FOREIGN KEY([MANUFACTURER], [PTYPE])
REFERENCES [dbo].[Products] ([MANUFACTURER], [PTYPE])
GO
ALTER TABLE [dbo].[Importers]  WITH CHECK ADD FOREIGN KEY([MANUFACTURER], [PTYPE])
REFERENCES [dbo].[Products] ([MANUFACTURER], [PTYPE])
GO
USE [master]
GO
